<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1154">
  <div class="cs-container">
    <div class="cs-top">
      <a aria-label="go back to home" class="cs-logo" href="">
        <div class="logo-box">
          <span class="logo-name">Dr. Matthew Cohen</span>
          <br />
          <span class="logo-profession">Chiropractor</span>
        </div>
      </a>
      <ul class="cs-ul">
        <li class="cs-li">
          <a href="#hero-855" class="cs-li-link"> Home </a>
        </li>
        <li class="cs-li">
          <a href="#services-1644" class="cs-li-link"> Conditions Treated </a>
        </li>
        <li class="cs-li">
          <a href="#RPsbs-525" class="cs-li-link"> Holistic Support </a>
        </li>
        <li class="cs-li">
          <a href="#RPsbsr-525" class="cs-li-link"> First Visit </a>
        </li>
        <li class="cs-li">
          <a href="#sbs-1982" class="cs-li-link"> About Us </a>
        </li>
      </ul>
    </div>
    <div class="cs-bottom">
      <!--Social-->
      <ul class="cs-social">
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="facebook"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="twitter"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="instagram"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
        <li class="cs-social-li">
          <a
            href=""
            class="cs-social-link"
            aria-label="twitter"
            target="_blank"
            rel="noopener"
          >
            <img
              class="cs-social-icon cs-default"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-1a.svg"
              alt="icon"
              loading="lazy"
              decoding="async"
              width="12"
              height="12"
              aria-hidden="true"
            />
          </a>
        </li>
      </ul>
      <span class="cs-copyright">
        © Copyright 2024 - Dr. Matthew Cohen
      </span>
    </div>
  </div>
</footer>
