---
title: "Conditions Treated | Dr. Cohen - Chiropractor"
description: "Explore how our chiropractic clinic combines advanced medical testing with holistic treatments to provide effective pain relief and promote a healthier, balanced life. From chronic pain to mobility issues, we tailor care plans that address the root cause of your discomfort and support your overall wellness journey"
permalink: "conditions/"
eleventyNavigation:
  key: Conditions Treated
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/conditions.css" />

{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Discover How We Can Help You Feel Your Best</h1>
  <p>
    From pain relief to long-term wellness, explore answers to your questions
    about the conditions we treat and the care we provide.
  </p>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1720">
  <div class="cs-container">
    <div class="cs-flex-group">
      <div class="cs-button-group">
        <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
        <div class="cs-flex">
          <button class="cs-option" data-filter="back">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Back Pain
          </button>
          <button class="cs-option" data-filter="neck">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Neck Pain
          </button>
          <button class="cs-option" data-filter="head">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Headache
          </button>
          <button class="cs-option" data-filter="radi">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Radiculopathy
          </button>
          <button class="cs-option" data-filter="disc">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Bulging/ Herniated Disc
          </button>
          <button class="cs-option" data-filter="nerve">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg"
              alt="plus graphic"
              width="12"
              height="12"
              decoding="async"
              aria-hidden="true"
            />
            Pinched Nerve
          </button>
        </div>
        <picture class="cs-picture" >
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="../../assets/images/back adjustment.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset=
            "../../assets/images/back adjustment.jpg"

          />
          <img
            loading="lazy"
            decoding="async"
            src="../../assets/images/back adjustment.jpg"
            alt="Man being helped with back pain."
            width="353"
            height="493"
          />
        </picture>
      </div>
      <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
      <div class="cs-wrapper">
        <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
        <!-- ============================================================================================== -->
        <!--                                            Back Pain                                           -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group" data-category="back">
          <!-- Active class added as default -->
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Chiropractic care addresses the root causes of back pain, such as misalignments, muscle tension, or nerve compression. Dr. Cohen uses spinal adjustments, traction therapy, and other techniques to restore alignment, reduce inflammation, and relieve pain naturally.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What makes Dr. Cohen’s approach to back pain unique?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen combines traditional chiropractic methods with a holistic approach to care. He not only performs spinal adjustments but also provides advice on ergonomics, therapeutic exercises, posture correction, and nutrition to support your overall health and prevent future pain.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need medical testing for my back pain?
              </span>
            </button>
            <p class="cs-item-p">
                If necessary, Dr. Cohen may perform diagnostic imaging, such as X-rays, to accurately identify the cause of your back pain. This ensures a precise diagnosis and allows for a targeted treatment plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What types of treatments are used for back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen uses a variety of techniques to treat back pain, including:
                <ul class="cs-item-p">
                    <li class="item-space">Spinal Adjustments to restore proper alignment.</li>
                    <li class="item-space">Traction Therapy to relieve disc compression.</li>
                    <li class="item-space">Therapeutic Exercises to strengthen muscles and improve flexibility.</li>
                    <li class="item-space">Electric Muscle Stimulation (EMS) to reduce tension and promote healing.</li>
                    <li class="item-space">Posture Correction to address imbalances contributing to back pain.</li>
                </ul>
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to feel relief from back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Many patients experience some relief after the first few sessions. The exact timeline varies based on the severity of the condition, the patient’s overall health, and their adherence to the treatment plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Does Dr. Cohen’s holistic approach include lifestyle changes?
              </span>
            </button>
            <p class="cs-item-p">
                Yes. In addition to treatments in the office, Dr. Cohen advises on lifestyle changes such as improving posture, incorporating ergonomic habits, stretching routines, and nutritional support to promote healing and long-term back health.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Is chiropractic care safe for chronic back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Yes. Chiropractic care is a safe, non-invasive option for managing chronic back pain. Dr. Cohen performs a comprehensive evaluation to ensure treatments are appropriate for your specific condition.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do I need ongoing care after my back pain improves?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen often recommends maintenance care to prevent recurrences of back pain and ensure long-term spinal health. This may include periodic adjustments, exercises, and continued lifestyle support.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need surgery or medication for my back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen’s philosophy is to explore conservative, drug-free treatments first. Most patients find significant relief without the need for surgery or medication.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I book an appointment to address my back pain?
              </span>
            </button>
            <p class="cs-item-p">
                Booking is easy! Call or message us to schedule your first consultation with Dr. Cohen. During your visit, he will assess your condition and develop a personalized plan to get you on the path to relief.

            </p>
            <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>



        </ul>
        <!-- ============================================================================================== -->
        <!--                                            Neck Pain                                           -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group cs-hidden" data-category="neck">
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Chiropractic care helps address the underlying causes of neck pain, such as spinal misalignments, poor posture, or muscle tension. Dr. Cohen uses gentle spinal adjustments and targeted therapies to restore alignment, improve mobility, and reduce pain naturally.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What makes Dr. Cohen’s approach to neck pain unique?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen takes a holistic approach to neck pain by combining chiropractic adjustments with therapeutic exercises, posture correction, and ergonomic guidance. He focuses on both immediate relief and long-term prevention to keep you pain-free.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What causes neck pain, and how does Dr. Cohen identify it?
              </span>
            </button>
            <p class="cs-item-p">
                Neck pain can be caused by poor posture, spinal misalignment, whiplash, herniated discs, or prolonged screen time. Dr. Cohen conducts a thorough evaluation, which may include physical exams and diagnostic imaging like X-rays, to identify the root cause and create a personalized treatment plan.
            </p>
          </li>



          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What treatments are used to relieve neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Dr. Cohen uses a variety of techniques to relieve neck pain, including:

                <ul class="cs-item-p">
                    <li class="item-space">Spinal Adjustments: Restore alignment and relieve nerve irritation.</li>
                    <li class="item-space">Cervical Traction: Gently stretches the neck to alleviate pressure on discs and nerves.</li>
                    <li class="item-space">Therapeutic Exercises: Strengthen neck muscles and improve flexibility.</li>
                    <li class="item-space">Posture Correction Therapy: Targets habits contributing to neck pain.</li>
                    <li class="item-space">Electric Muscle Stimulation (EMS): Reduces muscle tightness and promotes healing.</li>
                </ul>
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to see results for neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Many patients experience noticeable relief within a few sessions. However, the timeline depends on the severity of the condition, your overall health, and how well you follow the treatment plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Does posture play a role in neck pain, and can chiropractic care help?
              </span>
            </button>
            <p class="cs-item-p">
                Yes, poor posture is a major contributor to neck pain, especially for those who sit for long periods or use electronic devices. Dr. Cohen incorporates posture correction techniques and ergonomic advice to address these habits and prevent recurring pain.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Is chiropractic care safe for neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Yes, poor posture is a major contributor to neck pain, especially Absolutely. Chiropractic care is a safe and non-invasive treatment for neck pain. Dr. Cohen uses gentle and precise adjustments tailored to your needs, ensuring both comfort and effectiveness.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need imaging tests before starting treatment?
              </span>
            </button>
            <p class="cs-item-p">
                In some cases, Dr. Cohen may recommend imaging, such as X-rays, to get a clear view of your spine and identify the root cause of your neck pain. This ensures the most effective and targeted care.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can chiropractic care help prevent future neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Yes. Dr. Cohen not only focuses on pain relief but also works on prevention through regular maintenance care, strengthening exercises, and lifestyle adjustments to keep your neck healthy and pain-free.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I schedule an appointment to address my neck pain?
              </span>
            </button>
            <p class="cs-item-p">
                Call or message our office to book your first free consultation. Dr. Cohen will assess your condition, explain your treatment options, and develop a plan to help you feel your best.
            </p>
            <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>

        </ul>
        <!-- ============================================================================================== -->
        <!--                                            Headache                                        -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group cs-hidden" data-category="head">



          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with headaches?
              </span>
            </button>
            <p class="cs-item-p">
              Chiropractic care can address the underlying causes of headaches, such as tension, spinal misalignments, or nerve irritation. Dr. Cohen uses gentle spinal adjustments, posture correction, and muscle relaxation techniques to relieve pressure, reduce headache frequency, and improve overall function.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What types of headaches can chiropractic care treat?
              </span>
            </button>
            <p class="cs-item-p">
              Chiropractic care is effective for various types of headaches, including:
              <ul class="cs-item-p">
                <li class="item-space"> Tension Headaches: Often caused by muscle tightness and stress.</li>
                <li class="item-space"> Cervicogenic Headaches: Originating from misalignments in the neck or spine.</li>
                <li class="item-space"> Migraines: Chiropractic care can help reduce the frequency and intensity of migraines by improving spinal function and relieving tension.</li>
              </ul>
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What treatments does Dr. Cohen use to relieve headaches?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen uses a combination of techniques, including:
              <ul class="cs-item-p">
                <li class="item-space"> Spinal Adjustments: Restore alignment in the neck and spine to relieve nerve pressure.</li>
                <li class="item-space">Cervical Traction: Gently stretches the neck to reduce tension and improve blood flow.</li>
                <li class="item-space">Therapeutic Exercises: Target tight muscles and improve flexibility to prevent recurring headaches.</li>
                <li class="item-space">Posture Correction Therapy: Helps address habits that contribute to headache pain.</li>
                <li class="item-space">Electric Muscle Stimulation (EMS): Reduces muscle tension and supports relaxation.</li>
              </ul>
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How does poor posture contribute to headaches?
              </span>
            </button>
            <p class="cs-item-p">
              Poor posture, such as slouching or forward head positioning, places strain on the neck and spine, leading to muscle tightness and misalignments. Dr. Cohen incorporates posture correction therapies and ergonomic guidance to address these habits and prevent headaches.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do spinal adjustments hurt?
              </span>
            </button>
            <p class="cs-item-p">
              No, spinal adjustments are safe and typically painless. Dr. Cohen uses gentle, precise movements to restore alignment and relieve tension without discomfort.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How quickly will I see results from chiropractic care for headaches?
              </span>
            </button>
            <p class="cs-item-p">
              Many patients experience noticeable relief within a few treatments, though results vary depending on the severity and type of headache. Dr. Cohen will develop a personalized plan to address your specific needs.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can chiropractic care help reduce migraine frequency?
              </span>
            </button>
            <p class="cs-item-p">
              Yes. By improving spinal alignment, reducing muscle tension, and enhancing nervous system function, chiropractic care can help reduce the frequency and severity of migraines.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need imaging before starting treatment for headaches?

              </span>
            </button>
            <p class="cs-item-p">
              In some cases, Dr. Cohen may recommend imaging, such as X-rays, to rule out other underlying conditions and ensure the most effective treatment plan for your headaches.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Does Dr. Cohen provide advice for preventing headaches at home?

              </span>
            </button>
            <p class="cs-item-p">
              Yes. Dr. Cohen offers guidance on proper posture, stretching routines, stress management, and ergonomics to help prevent headaches and support overall wellness.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I schedule an appointment to address my headaches?

              </span>
            </button>
            <p class="cs-item-p">
              Call or message our office to schedule your free consultation with Dr. Cohen. Together, we’ll work to find lasting relief and help you feel your best.
            </p>
             <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>


        </ul>

        <!-- ============================================================================================== -->
        <!--                                            Radiculopathy                                          -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group cs-hidden" data-category="radi">
          <!-- Active class added as default -->
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What is radiculopathy, and how does it affect the arms and legs?
              </span>
            </button>
            <p class="cs-item-p">
              Radiculopathy occurs when spinal nerve roots are compressed, irritated, or inflamed, leading to pain, numbness, tingling, or weakness that radiates into the arms or legs. It is often caused by conditions such as herniated discs, spinal stenosis, or bone spurs.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with radiculopathy?
              </span>
            </button>
            <p class="cs-item-p">
              Chiropractic care addresses the underlying causes of radiculopathy by relieving pressure on the affected nerves. Dr. Cohen uses targeted adjustments, spinal traction, and therapeutic techniques to reduce inflammation, improve alignment, and alleviate symptoms.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What treatments does Dr. Cohen use to manage radiculopathy?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen utilizes a variety of treatments to manage radiculopathy, including:
              <ul class="cs-item-p">
                <li class="item-space">Spinal Adjustments: Restore proper alignment and reduce nerve compression. </li>
                <li class="item-space">Disc-Distraction Therapy: Relieves pressure on herniated or bulging discs.</li>
                <li class="item-space">Traction Therapy: Gently decompresses the spine to create space for healing.</li>
                <li class="item-space">Walking Lumbar Traction: Combines traction with movement to enhance spinal health.</li>
                <li class="item-space">Therapeutic Exercises: Strengthen muscles and improve mobility to support recovery.</li>
                <li class="item-space">Electric Muscle Stimulation (EMS): Relieves muscle tension and promotes healing.</li>
              </ul>
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need imaging studies before treatment?
              </span>
            </button>
            <p class="cs-item-p">
              Depending on your symptoms and medical history, Dr. Cohen may recommend imaging, such as X-rays, to confirm the diagnosis and develop a precise treatment plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to see improvement in radiculopathy symptoms?
              </span>
            </button>
            <p class="cs-item-p">
              Many patients experience some relief within the first few weeks of treatment. The timeline for full improvement depends on the severity of the condition and the patient’s adherence to their treatment plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Is chiropractic care safe for treating radiculopathy?

              </span>
            </button>
            <p class="cs-item-p">
              Yes, chiropractic care is a safe, non-invasive option for managing radiculopathy. Dr. Cohen carefully evaluates each patient to ensure treatments are appropriate and effective for their specific condition.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can chiropractic care prevent radiculopathy from recurring?

              </span>
            </button>
            <p class="cs-item-p">
              Regular chiropractic care, along with posture correction and lifestyle changes, can help prevent future occurrences of radiculopathy by maintaining proper spinal alignment and reducing risk factors.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What can I do at home to support my recovery from radiculopathy?

              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen may recommend specific home exercises, ergonomic adjustments, and nutritional support to complement your in-office treatments and promote healing.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Does radiculopathy always require surgery or medication?
              </span>
            </button>
            <p class="cs-item-p">
              No, most cases of radiculopathy can be effectively managed with conservative treatments like chiropractic care. Dr. Cohen focuses on drug-free, non-surgical approaches to provide relief and improve quality of life.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I schedule an appointment to address my radiculopathy?
              </span>
            </button>
            <p class="cs-item-p">
              Call or message our office to schedule a free consultation with Dr. Cohen. He will assess your condition and develop a personalized treatment plan to help you regain comfort and mobility.
            </p>
            <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>
        </ul>
        <!-- ============================================================================================== -->
        <!--                                            Bulging Disk                                          -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group cs-hidden" data-category="disc">
          <!-- Active class added as default -->
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What is a bulging or herniated disc?
              </span>
            </button>
            <p class="cs-item-p">
              A bulging disc occurs when the outer layer of a spinal disc protrudes outward but remains intact, while a herniated disc happens when the inner gel-like material pushes through a tear in the outer layer. Both conditions can compress nearby nerves, causing pain, numbness, or weakness.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with a bulging or herniated disc?
              </span>
            </button>
            <p class="cs-item-p">
              Chiropractic care addresses the root causes of disc-related pain by relieving pressure on the affected nerves and promoting spinal health. Dr. Cohen uses gentle, non-invasive techniques to improve alignment, reduce inflammation, and create an environment for natural healing.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What treatments does Dr. Cohen use for bulging or herniated discs?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen utilizes a variety of treatments, including:
              <ul class="cs-item-p">
                <li class="item-space"> Spinal Adjustments: Realign the spine to reduce nerve compression and restore proper function.</li>
                <li class="item-space"> Disc-Distraction Therapy: Gently stretches the spine to relieve pressure on discs and nerves.</li>
                <li class="item-space"> Traction Therapy: Decompresses the spine, allowing the disc to heal naturally.</li>
                <li class="item-space"> Therapeutic Exercises: Strengthen supporting muscles and improve flexibility to protect the spine.</li>
                <li class="item-space"> Electric Muscle Stimulation (EMS): Relieves tension in surrounding muscles and promotes circulation.</li>
              </ul>
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need imaging before starting treatment?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen may recommend imaging, such as X-rays, to confirm the diagnosis and evaluate the extent of the disc issue. This ensures an accurate treatment plan tailored to your needs.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Is chiropractic care safe for herniated discs?
              </span>
            </button>
            <p class="cs-item-p">
              Yes, chiropractic care is a safe and effective treatment option for herniated discs. Dr. Cohen uses gentle, targeted techniques to ensure your comfort and safety throughout the process.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to see results from chiropractic care for a herniated disc?
              </span>
            </button>
            <p class="cs-item-p">
              Many patients experience relief within a few weeks of consistent treatment. The timeline varies depending on the severity of the condition and adherence to the recommended care plan.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can chiropractic care prevent future disc problems?
              </span>
            </button>
            <p class="cs-item-p">
              Regular chiropractic care helps maintain spinal health and alignment, reducing the risk of future disc issues. Dr. Cohen also provides guidance on posture, ergonomics, and lifestyle changes to support long-term spinal health.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need surgery for a herniated disc?
              </span>
            </button>
            <p class="cs-item-p">
              Most cases of herniated discs can be managed without surgery through conservative treatments like chiropractic care. Dr. Cohen focuses on non-invasive methods to relieve pain and restore function.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Are there any activities I should avoid during treatment?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen may recommend avoiding activities that strain your spine, such as heavy lifting or prolonged sitting. He will provide specific guidelines to support your recovery and prevent further injury.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I schedule an appointment for disc-related pain?
              </span>
            </button>
            <p class="cs-item-p">
              Call or message our office to schedule your free consultation with Dr. Cohen. He will assess your condition and create a personalized plan to help you feel better and move comfortably.
            </p>
            <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>


        </ul>
        <!-- ============================================================================================== -->
        <!--                                           Pinched Nerve                                        -->
        <!-- ============================================================================================== -->
        <ul class="cs-faq-group cs-hidden" data-category="nerve">
          <!-- Active class added as default -->
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What is a pinched nerve?
              </span>
            </button>
            <p class="cs-item-p">
              A pinched nerve occurs when surrounding tissues, such as bones, muscles, or discs, apply excessive pressure to a nerve. This can cause pain, numbness, tingling, or weakness, often affecting areas like the neck, back, arms, or legs.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can chiropractic care help with a pinched nerve?
              </span>
            </button>
            <p class="cs-item-p">
              Chiropractic care addresses the root cause of a pinched nerve by relieving pressure on the affected nerve. Dr. Cohen uses precise adjustments, traction therapy, and muscle relaxation techniques to restore proper alignment and improve nerve function.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What treatments does Dr. Cohen use for pinched nerve pain?
              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen utilizes a variety of non-invasive treatments, including:
              <ul class="cs-item-p">
                <li class="item-space">Spinal Adjustments: Realign the spine to alleviate pressure on the nerve. </li>
                <li class="item-space">Traction Therapy: Decompresses the spine, creating space for the nerve to heal. </li>
                <li class="item-space">Electric Muscle Stimulation (EMS): Reduces muscle tension around the nerve and promotes relaxation. </li>
                <li class="item-space">Therapeutic Exercises: Strengthen supportive muscles and improve flexibility to prevent recurrence. </li>
                <li class="item-space"> Posture Correction Therapy: Addresses habits that may contribute to nerve compression.</li>
              </ul>
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do I need imaging before treatment?

              </span>
            </button>
            <p class="cs-item-p">
              Depending on the severity of your symptoms, Dr. Cohen may recommend imaging studies like X-rays to confirm the diagnosis and ensure targeted treatment.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Is chiropractic care safe for pinched nerves?

              </span>
            </button>
            <p class="cs-item-p">
              Yes, chiropractic care is a safe and effective option for relieving pinched nerve pain. Dr. Cohen customizes treatments to your condition, ensuring both safety and comfort.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to see results from chiropractic care for a pinched nerve?

              </span>
            </button>
            <p class="cs-item-p">
              Many patients experience relief within a few treatments. The timeline for full recovery depends on the severity of the nerve compression and adherence to the care plan.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can chiropractic care prevent future pinched nerves?

              </span>
            </button>
            <p class="cs-item-p">
              Yes, regular chiropractic care helps maintain proper alignment and reduce the risk of nerve compression. Dr. Cohen also provides guidance on lifestyle changes, posture, and ergonomics to support long-term spinal health.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I need surgery for a pinched nerve?

              </span>
            </button>
            <p class="cs-item-p">
              Most cases of pinched nerves can be effectively managed without surgery using conservative treatments like chiropractic care. Surgery is typically considered only for severe or persistent cases.
            </p>
          </li>

          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What activities should I avoid during treatment for a pinched nerve?

              </span>
            </button>
            <p class="cs-item-p">
              Dr. Cohen may advise avoiding activities that strain the affected area, such as heavy lifting or prolonged sitting. He will provide specific recommendations tailored to your recovery.
            </p>
          </li>


          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How can I schedule an appointment to address pinched nerve pain?

              </span>
            </button>
            <p class="cs-item-p">
              Call or message our office to schedule your free consultation with Dr. Cohen. Together, we’ll develop a personalized plan to relieve your pain and improve your mobility.
            </p>
            <p class="cs-item-p">
              <a href="/contact" class="cs-button-solid">Message Us</a>
            </p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<!-- This script imports the javascript functionality for the FAQ, displaying the data based on what is selected. It is at the bottom of the file for performance reasons -->
<script src="../../assets/js/conditionsFAQ.js"></script>

{% endblock %}
