---
title: "First Visit  |  Dr.Cohen - Chiropractor"
description: "Learn what to expect during your first chiropractic appointment with Dr. Cohen. From consultation and evaluation to personalized treatments, discover how we provide a comprehensive and comfortable experience for your journey to better health."
preloadImg: "../../assets/images/process/drConsult2.JPG"
permalink: "process/"
eleventyNavigation:
  key: Our Process
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/process.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">What to Expect on your First Visit with us</h1>
  <p>
    From pain relief to long-term wellness, explore answers to your questions
    about the conditions we treat and the care we provide.
  </p>
</section>

<!-- ============================================ -->
<!--                 Step One (pic on left)               -->
<!-- ============================================ -->

<section id="RPsbs-1310">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Floating Box-->
          <div class="cs-box">
              <span class="cs-desc">1</span>
          </div>
          <!--Image-->
          <picture class="cs-picture" >
              <source media="(max-width: 600px)" srcset="../../assets/images/process/drConsult2.JPG">
              <source media="(min-width: 601px)" srcset="../../assets/images/process/drConsult2.JPG">
              <img loading="lazy" decoding="async" src="../../assets/images/process/drConsult2.JPG" alt="doctor meeting woman" width="630" height="630" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">

          <h2 class="cs-title">Consultation</h2>
          <p class="cs-text">
            Your first visit begins with a thorough consultation to understand your specific concerns and health goals. Dr. Matthew Cohen takes the time to listen to your symptoms, medical history, and lifestyle factors that may be contributing to your condition. This step allows us to get a clear picture of your needs and ensures that your care plan is tailored to address the root causes of your discomfort.
          </p>
      </div>
  </div>
</section>

<!-- ============================================ -->
<!--              Step 2 (pic on right)          -->
<!-- ============================================ -->

<section id="RPsbsr-1310">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Floating Box-->
          <div class="cs-box">
              <span class="cs-desc">2</span>
          </div>
          <!--Image-->
          <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="../../assets/images/process/adjustment.jpg">
              <source media="(min-width: 601px)" srcset="../../assets/images/process/adjustment.jpg">
              <img loading="lazy" decoding="async" src="../../assets/images/process/adjustment.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">

          <h2 class="cs-title">Evaluation</h2>
          <p class="cs-text">
            Next, Dr. Cohen performs a detailed evaluation to assess your overall physical health and pinpoint areas of concern. This comprehensive assessment includes analyzing posture, range of motion, and muscle strength, as well as incorporating orthopedic tests, palpation, and reflex testing. By understanding how your body functions as a whole, we can identify potential issues affecting your spine and nervous system.
          </p>


      </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Step 3 (pic on left)               -->
<!-- ============================================ -->

<section id="RPsbs-1310">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Floating Box-->
          <div class="cs-box">
              <span class="cs-desc">3</span>
          </div>
          <!--Image-->
          <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="../../assets/images/process/xray.jpg">
              <source media="(min-width: 601px)" srcset="../../assets/images/process/xray.jpg">
              <img loading="lazy" decoding="async" src="../../assets/images/process/xray.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">

          <h2 class="cs-title">Necessary Testing</h2>
          <p class="cs-text">
            If needed, additional diagnostic testing such as X-rays or imaging studies may be performed to confirm the diagnosis and provide a deeper understanding of your condition. These tests help ensure that all aspects of your health are considered, allowing us to provide precise and effective care.
          </p>
      </div>
  </div>
</section>

<!-- ============================================ -->
<!--              Step 4 (pic on right)          -->
<!-- ============================================ -->

<section id="RPsbsr-1310">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Floating Box-->
          <div class="cs-box">
              <span class="cs-desc">4</span>
          </div>
          <!--Image-->
          <picture class="cs-picture">
              <source media="(max-width: 600px)" srcset="../../assets/images/process/ChiroTreatment.jpg">
              <source media="(min-width: 601px)" srcset="../../assets/images/process/ChiroTreatment.jpg">
              <img loading="lazy" decoding="async" src="../../assets/images/process/ChiroTreatment.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">

          <h2 class="cs-title">Treatment</h2>
          <p class="cs-text">
            Once your evaluation and testing are complete, Dr. Cohen begins your personalized treatment plan. This may include spinal adjustments, therapeutic exercises, traction therapy, or other techniques designed to alleviate pain and promote healing. From your very first treatment, the goal is to reduce discomfort, improve mobility, and set you on the path to long-term wellness.
          </p>


      </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Treatments                -->
<!-- ============================================ -->

<section id="services-1259">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Personalized Care Tailored to Your Needs</span>
          <h2 class="cs-title">Treatment Approaches You Can Expect</h2>
          <p class="cs-text">
            Dr.Cohen uses a variety of techniques to relieve pain, restore mobility, and enhance your overall well-being. His treatment approaches are designed to address not just symptoms, but the underlying causes of discomfort for long-lasting relief. Whether it’s through spinal adjustments, therapeutic exercises, or lifestyle guidance, our care is personalized to fit your needs. Learn more about the treatment methods you can expect below.
          </p>
      </div>
      <!--Placed in a wrapper div so we can position the car absolutely inside the container to be centered in the middle of the list on desktop-->
      <div class="cs-wrapper">
          <!--Car-->

          <!--Circle Graphic-->
          <picture class="cs-circle">
              <!--Mobile Image-->
              <source media="(max-width: 1249px)" srcset="../../assets/images/circleChiro.svg">
              <!--Tablet and above Image-->
              <source media="(min-width: 1250px)" srcset="../../assets/images/circleChiro.svg">
              <img loading="lazy" decoding="async" src="../../assets/images/circleChiro.svg" alt="circle" width="1000"  aria-hidden="true">
          </picture>
          <ul class="cs-card-group">
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon"
                                  src="../../assets/images/icons/spineIcon.svg"
                                  loading="lazy" decoding="async" alt="icon"  aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3">Spinal Adjustments</h3>
                          <p class="cs-item-text">Spinal adjustments are the cornerstone of chiropractic care. By applying controlled force to specific joints in the spine, chiropractors restore proper alignment, reduce nerve irritation, and improve mobility. This non-invasive technique provides relief from pain caused by misalignments or tension.</p>
                      </div>
                  </div>
              </li>
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon" src="../../assets/images/icons/heating-pad.svg"
                                  loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3">Therapeutic Modalities</h3>
                          <p class="cs-item-text">Chiropractors often use therapeutic modalities such as electric muscle stimulation (EMS), ultrasound, and heat or cold therapy. These techniques enhance circulation, reduce inflammation, relieve muscle tension, and promote healing in soft tissues, providing an added layer of pain management.</p>
                      </div>
                  </div>
              </li>
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon"
                                  src="../../assets/images/icons/stretched.svg"
                                  loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3">Traction Therapy</h3>
                          <p class="cs-item-text">Traction therapy gently stretches the spine to relieve pressure on discs and nerves. This treatment is especially effective for conditions like herniated discs, spinal stenosis, or pinched nerves. It helps create space for healing and alleviates symptoms like pain, numbness, and tingling.</p>
                      </div>
                  </div>
              </li>
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon"
                                  src="../../assets/images/icons/exercise.svg" loading="lazy"
                                  decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3">Therapeutic Exercises</h3>
                          <p class="cs-item-text">Chiropractors design personalized therapeutic exercise programs to strengthen supporting muscles, improve flexibility, and stabilize the spine. These exercises complement in-office treatments, reduce the risk of future injuries, and support long-term spinal health.</p>
                      </div>
                  </div>
              </li>
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon"
                                  src="../../assets/images/icons/postureIcon.svg" loading="lazy"
                                  decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3"> Posture and Ergonomic Coaching</h3>
                          <p class="cs-item-text">
                            Poor posture and improper ergonomics often contribute to spinal issues. Chiropractors provide guidance on improving posture and recommend ergonomic adjustments for daily activities, such as sitting at a desk or lifting objects. These changes help prevent recurring pain and promote overall wellness
                          </p>
                      </div>
                  </div>
              </li>
              <li class="cs-item">
                  <div class="cs-link">
                      <picture class="cs-picture">
                          <img class="cs-icon"
                                  src="../../assets/images/icons/nutrition.svg"
                                  loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                      </picture>
                      <!-- Text Grouped For Flexbox-->
                      <div class="cs-text-group">
                          <h3 class="cs-h3">Holistic Lifestyle Guidance</h3>
                          <p class="cs-item-text">
                            Chiropractors take a whole-body approach to care, offering advice on nutrition, hydration, stress management, and sleep hygiene. These lifestyle adjustments enhance the body’s natural healing processes and complement chiropractic treatments, helping patients achieve optimal health.
                          </p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <a href="/contact" class="cs-button-solid">Book Appointment</a>
  </div>
</section>




{% endblock %}
