---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "reviews/"
eleventyNavigation:
  key: Reviews
  order: 400
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">What our Clients Have to Say About Us</h1>
  <p>Have you had an amazing experience that you would like to share? <br> Please consider leaving us a review. </p>

  <button class="cs-button-solid">Leave a Review</button>
</section>

{% endblock %}
