/*-- -------------------------- -->
<---       Holistic Support        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .backgroundGradient2 {
    background-image: url("../images/gradient\ background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1000px;
  }

  #RPsbs-525,
  #RPsbsr-525 {
    width: 100vw;
    padding: var(--sectionPadding);

    @keyframes floatAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-0.6em);
      }
      100% {
        transform: translateY(0);
      }
    }

    @keyframes floatAnimation2 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1em);
      }
      100% {
        transform: translateY(0);
      }
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (550/16em);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-color {
      color: var(--secondary);
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }
    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #1a1a1a;
        &:before {
          width: 100%;
        }
      }
    }

    .holisticList {
      margin-bottom: 30px;
      margin-left: 25px;
    }

    .cs-image-group {
      /* this is how we can scale entire groups using ems.  Font size is tied to the view width, so as the screen gets bigger, so does the font size, and this scales up and down the elements with em values.  Then it stops growing once the font size reaches the defined value of 1em (16px which is default on the html element). Font size changes at desktop */
      font-size: ~"min(2.3vw, .875em)";
      /* all values are done in ems, not rems, so we can scale the group with a font size min/max equation */
      width: (630/16em);
      height: (817/16em);
      position: relative;
      /* pushes it to the top in the first position */
      order: -1;

      &:before {
        content: "";
        width: (186/16em);
        height: (161/16em);
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: block;
        top: (0/16em);
        left: (0/16em);
        animation-name: floatAnimation;
        animation-duration: 6s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
      }
    }

    .cs-picture {
      display: block;
      position: absolute;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes it act like a background image */
        object-fit: cover;
      }
    }

    .cs-picture-large {
      width: (476/16em);
      height: (677/16em);
      top: (70/16em);
      left: (62/16em);
    }

    .cs-picture-small {
      width: (260/16em);
      height: (225/16em);
      border: (10/16em) solid #fff;
      background-color: #fff;
      bottom: 0;
      right: 0;
      animation-name: floatAnimation2;
      animation-duration: 20s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbs-525,
  #RPsbsr-525 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      width: 51%;
      max-width: (550/16rem);
    }

    .cs-image-group {
      font-size: ~"min(1.1vw, 1em)";
    }
  }
}

/*-- -------------------------- -->
<---     First Visit            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-525 {
    .cs-image-group {
      &:before {
        content: "";
        left: auto;
        right: (0/16em);
      }
    }

    .cs-picture-large {
      left: auto;
      right: (62/16em);
    }

    .cs-picture-small {
      right: auto;
      left: 0;
      border-color: #f7f7f7;
    }
  }

  .listEmp {
    color: #1c3c75;
    font-weight: 800;
  }

  .cs-button-second {
    font-size: (16/16rem);
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: (150/16rem);
    padding: 0 (32/16rem);
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #98b3d2;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }

    &:hover {
      color: #1a1a1a;
      &:before {
        width: 100%;
      }
    }
  }


}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbsr-525 {
    .cs-content {
      /* sends it to the left in the first position */
      order: -1;
    }
  }
}

/*-- -------------------------- -->
<---        About Matt           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .gradient3 {
    background-image: url("../images/gradient2.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1000px;
  }

  #sbs-1982 {
    width: 100vw;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      width: 100%;
      height: 100%;

      opacity: 0.05;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: (570/16rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-text-large {
      font-size: (20/16rem);
      line-height: 1.5em;
      margin: 0 0 (12/16rem) 0;
      color: var(--headerColor);
    }

    .cs-text {
      margin-bottom: (32/16rem);
    }
    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #fff;
        color: #1a1a1a;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #1a1a1a;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-ratings {
      width: 100%;
      margin: 0;
      margin-top: (64/16rem);
      padding: (32/16rem);
      border-radius: (16/16rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: (24/16rem);
      position: relative;
      align-self: stretch;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        opacity: 0.1;
        border-radius: (16/16rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .cs-stars {
      display: flex;
      flex-direction: row;
    }

    .cs-rating {
      display: flex;
      flex-direction: column;
      gap: (4/16rem);
    }

    .cs-h3 {
      font-size: (20/16rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (8/16rem);
    }

    .cs-rating-text {
      font-size: (16/16rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-icon {
      width: (82/16rem);
      height: (95/16rem);
      position: absolute;
      top: (-30/16rem);
      right: (20/16rem);
    }

    .cs-image-group {
      width: 100%;
      max-width: (630/16rem);
      /* Changes to auto at desktop */
      height: (480/16rem);
      /* clips the corners of the children around the border radius */
      overflow: hidden;
      border-radius: (16/16rem);
      order: -1;
      position: relative;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      /* makes it cover the parent dimensions */
      object-fit: cover;
      display: block;

      img {
        width: 100%;
        height: 100%;
        /* makes it cover the parent like a backgorund image */
        object-fit: cover;
        display: block;
      }
    }

    .cs-box {
      text-align: left;
      width: 100%;
      max-width: (304/16rem);
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      padding: (32/16rem);
      background-color: #1a1a1a;
      /* 48px - 80px */
      border-radius: (8/16rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      /* 12px - 24px */
      right: clamp(0.75rem, 2.5vw, 1.5rem);
      /* 12px - 24px */
      bottom: clamp(0.75rem, 2.5vw, 1.5rem);
    }

    .cs-box-icon {
      width: (60/16rem);
      height: auto;
      display: block;
    }

    .cs-desc {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3.125vw, 1.9375rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      width: 100%;
      margin: (16/16rem) 0 0 0;
      color: #fff;
    }

    .cs-box-text {
      font-size: (14/16rem);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      margin: (12/16rem) 0 0 0;
      color: #f7f7f7;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1982 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .cs-content {
      align-self: center;
    }

    .cs-image-group {
      height: auto;
      min-height: (680/16rem);
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-608 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      /* changes to 1440px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      max-width: 20ch;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: (20/16rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      margin: 0;
      /* 32px - 48px top & bottom */
      /* 16px - 32px left & right */
      padding: clamp(2rem, 7vw, 3rem) clamp(1rem, 4vw, 2rem);
      /* makes padding not affect height and width */
      box-sizing: border-box;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-icon {
      /* 30px - 40px */
      width: clamp(1.875rem, 4vw, 2.5rem);
      height: auto;
      margin: 0 0 (32/16rem) 0;
      display: block;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 4vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 (24/16rem) 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 4vw, 1rem);
      line-height: 1.5em;
      max-width: (388/16rem);
      margin: 0 0 (48/16rem) 0;
      color: var(--bodyTextColor);
    }

    .cs-name {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 500;
      margin: auto 0 0 0;
      color: var(--headerColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (8/16rem);
      position: relative;
      &:before {
        content: "";
        width: (8/16rem);
        height: 1px;
        background: currentColor;
        display: block;
        position: relative;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-608 {
    .cs-container {
      max-width: (1440/16rem);
    }

    .cs-card-group {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cs-item {
      width: 48.5%;
    }
  }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #reviews-608 {
    .cs-card-group {
      align-items: stretch;
      justify-content: center;
    }

    .cs-item {
      width: clamp(23.45%, 23.2vw, 23.9%);
    }
  }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1388 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background-image: url("../images/gradient3.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      column-gap: auto;
      /* 48px - 64px */
      gap: clamp(2rem, 3vw, 3rem);
      position: relative;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .cs-title {
      max-width: 23ch;
    }

    .cs-text {
      margin-bottom: (16/16rem);
      &:last-of-type {
        margin-bottom: (32/16rem);
      }
    }

    .cs-ul {
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (24/16rem);
      position: relative;
    }

    .cs-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: (20/16rem);

      &:hover {
        .cs-icon-wrapper {
          transform: scale(1.1);
        }
      }
    }

    .cs-header {
      font-size: (20/16rem);
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: (12/16rem);
      color: var(--headerColor);
      display: block;
    }

    .cs-link {
      font-size: (16/16rem);
      line-height: 1.5em;
      text-decoration: none;
      color: #767676;
      display: block;
      position: relative;

      &:hover {
        text-decoration: underline;
      }
    }

    .cs-icon-wrapper {
      width: (60/16rem);
      height: (60/16rem);
      margin: 0;
      border-radius: 50%;
      border: 1px solid #bababa;
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }

    .cs-icon {
      width: (24/16rem);
      height: auto;
      display: block;
    }

    .cs-form {
      width: 100%;
      max-width: (630/16rem);
      /* 24px - 48px top and bottom */
      /* 16px - 48px left and right */
      padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      border-radius: (16/16rem);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: (12/16rem);
    }

    .cs-h3 {
      /* 20px - 39px */
      font-size: clamp(1.25rem, 3vw, 2.4375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0 0 (4/16rem) 0;
      color: var(--headerColor);
    }

    .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: (4/16rem);
    }

    .cs-input {
      font-size: (16/16rem);
      width: 100%;
      height: (56/16rem);
      padding: 0;
      padding-left: (24/16rem);
      color: var(--headerColor);
      background-color: #f7f7f7;
      border-radius: (8/16rem);
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      &::placeholder {
        color: #7d799c;
        opacity: 0.6;
      }
    }

    .cs-textarea {
      min-height: (120/16rem);
      padding-top: (24/16rem);
      margin-bottom: (12/16rem);
      font-family: inherit;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: (150/16rem);
      padding: 0 (32/16rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #98b3d2;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: #1a1a1a;
        &:before {
          width: 100%;
        }
      }
    }

    .cs-submit {
      width: 100%;
      min-width: (200/16rem);
      border: none;

      &:hover {
        color: #150101;

        cursor: pointer;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1388 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      width: 47%;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1388 {
    .cs-form {
      width: 46%;
      max-width: (578/16rem);
    }

    .cs-submit {
      width: auto;
    }
  }
}

/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1388 {
    .cs-graphic {
      display: block;
    }
  }
}
