---
title: "Chiropractor | Dr.Matthew Cohen | Madison Heights, MI"
description: "Meta description for the page"
preloadImg: "./assets/images/stock/backAdj.png"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<link
  rel="preload"
  href="/fonts/lato-v24-latin-700.woff2 "
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/playfair-display-v37-latin-700.woff2 "
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Chiropractor in Madison Gardens, Michigan</span>
      <h1 class="cs-title">Welcome to Your Path to Better Health</h1>
      <p class="cs-text">
        Dr. Matthew Cohen is committed to helping individuals and families achieve pain relief, improved mobility, and long-term wellness. With over 16 years of experience, Dr. Cohen specializes in providing personalized care tailored to your unique health goals.
      </p>
      <a href="#contact-1388" class="cs-button-solid">Schedule An Appointment</a>
    </div>
    <!--Hero Image-->
    <picture class="cs-picture">
      <!--Mobile-->

      <img
        aria-hidden="true"
        decoding="async"
        src="./assets/images/stock/backAdj.png"
        alt="Back Adjustment"
        width="570"
        height="701"
      />
    </picture>
  </div>
  <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
  <svg
    class="cs-wave"
    width="1920"
    height="179"
    viewBox="0 0 1920 179"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z"
      fill="white"
    />
  </svg>
</section>

<!-- ============================================ -->
<!--                  Conditions Treated                 -->
<!-- ============================================ -->

<section id="services-1644">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"> Comprehensive Chiropractic Care for All Ages</span>
      <h2 class="cs-title">Expert Treatment for Pain, Posture, and Beyond</h2>
      <p class="cs-text">
        Whether you’re a young professional, part of a busy family, or enjoying your golden years, we’re here to support your health journey. Dr. Cohen treats patients ranging from newborns to seniors in their 90s, addressing common concerns such as:
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="./assets/images/BackandNeckPain.jpg"
            alt="icon"
            width="150"

            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Neck and Back Pain</h2>
          <p class="cs-item-text">
            Using precise spinal and extra-spinal adjustments, therapeutic exercises, and ergonomic advice, we help relieve pain and restore proper alignment. Additional techniques, such as cervical and lumbar traction, posture correction tools, and electric muscle stimulation, may be incorporated to promote healing and prevent future issues.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="./assets/images/Headache.jpg"
            alt="icon"
            width="150"

            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Headaches</h2>
          <p class="cs-item-text">
             Dr. Cohen’s holistic treatment plans focus on reducing headache frequency and severity by addressing underlying spinal issues. Through gentle adjustments, posture improvement strategies, and assisted stretching, he targets tension and improves blood flow to alleviate pain. Nutritional advice and lifestyle adjustments may also be recommended for long-term relief.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="./assets/images/LegsandArms.jpg"
            alt="icon"
            width="150"

            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Radiculopathies into Arms and Legs</h2>
          <p class="cs-item-text">
            Dr. Cohen utilizes advanced techniques such as spinal traction, disc-distraction therapy, and targeted adjustments to relieve pressure on affected nerves. Walking lumbar traction and therapeutic exercises further enhance mobility and reduce discomfort, helping you regain strength and functionality.
          </p>
        </div>
      </li>
      <li class="cs-item">
        <div class="cs-image-group">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="./assets/images/Posture.jpg"
            alt="icon"
            width="150"
            aria-hidden="true"
          />
        </div>
        <div class="cs-flex">
          <h2 class="cs-h2">Poor Posture</h2>
          <p class="cs-item-text">
            Dr. Cohen’s personalized care plans focus on posture correction through spinal adjustments, posture pump therapy, and ergonomic guidance. He provides tailored exercises and stretches to strengthen core and back muscles, promoting better alignment and preventing future strain.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                 Holistic Support                -->
<!-- ============================================ -->

<div class="backgroundGradient2">
<section id="RPsbs-525" >
  <div class="cs-container">

      <div class="cs-content">
        <span class="cs-topper">Holistic Support
          </span>
        <h2 class="cs-title">
          Our Patient-Centered Philosophy
        </h2>
        <p class="cs-text">
          Dr. Cohen believes in a holistic approach to care. Along with chiropractic adjustments, we provide advice on:
        </p>


          <ul class="holisticList">
            <li>Ergonomics</li>
            <li>Nutritional Supplementation</li>
            <li>Shoe Orthotics</li>
            <li>Lifestyle Adjustments</li>
          </ul>

        <a href="#contact-1388" class="cs-button-solid">Schedule an Appointment</a>
      </div>
      <div class="cs-image-group">
        <!--Large Image-->
        <picture class="cs-picture cs-picture-large">
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="./assets/images/stock/nutritionalSupplements.png"
            alt="lab"
            width="334"
            height="380"
          />
        </picture>
        <!--Small Image-->
        <picture class="cs-picture cs-picture-small">

          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="./assets/images/stock/shoeInsert.png"
            alt="lab"
            width="183"
            height="158"
          />
        </picture>
      </div>

  </div>
</section>
</div>
<!-- ============================================ -->
<!--             First Visit             -->
<!-- ============================================ -->

<section id="RPsbsr-525">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Feel Better, Move Better</span>
      <h2 class="cs-title">
        Your First Chiropractic Visit: What to Expect
      </h2>
      <p class="cs-text">
        At your first visit, we’ll start with a friendly conversation about your health history and concerns. Then, Dr. Cohen will perform a thorough evaluation to identify the source of your pain or discomfort. After that, you’ll receive personalized care that may include:
      </p>

        <ul class="holisticList">
          <li><span class="listEmp">Gentle Adjustments: </span>Restores balance and movement to your spine and joints.</li>
          <li><span class="listEmp">Targeted Stretches and Exercises:  </span> Helps strengthen muscles and support recovery. </li>
          <li><span class="listEmp">Relaxing Muscle Therapy:  </span> Uses gentle stimulation to ease tension and reduce pain. </li>
          <li><span class="listEmp">Posture Tips and Support:  </span> Simple strategies to improve how you stand, sit, and move. </li>
        </ul>

      <a href="#contact-1388" class="cs-button-second">Contact Us</a>
    </div>
    <div class="cs-image-group">
      <!--Large Image-->
      <picture class="cs-picture cs-picture-large">
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="./assets/images/Actual/Back stretch.jpg"
          alt="Chiropractor stretching a patient's back"
          width="334"
          height="380"
        />
      </picture>
      <!--Small Image-->
      <picture class="cs-picture cs-picture-small">
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="./assets/images/Actual/musclesim.jpg"
          alt="Chiropractor using a muscle stimulation device on a patient's neck"
          width="183"
          height="158"
        />
      </picture>
    </div>
  </div>
</section>



<!-- ============================================ -->
<!--                About Matt                    -->
<!-- ============================================ -->

<div class="gradient3">
<section id="sbs-1982">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Expertise You Can Trust, Care You Can Count On</span>
      <h2 class="cs-title">Meet Dr. Matthew Cohen</h2>

      <p class="cs-text">
        Dr. Matthew Cohen is a seasoned chiropractor with over 16 years of experience helping patients achieve pain relief and long-term wellness. Holding a Doctorate in Chiropractic and a Bachelor’s in Kinesiology, Dr. Cohen combines his extensive knowledge with a compassionate, patient-centered approach. As a member of the Michigan Association of Chiropractors, he is dedicated to providing innovative and effective care. Inspired by his family’s experiences with chiropractic care, Dr. Cohen developed a passion for conservative therapies that prioritize holistic health and wellness. His mother’s ability to thrive as a weight watchers lecturer thanks to regular chiropractic care left a lasting impression, fueling his commitment to empowering others to lead healthier lives without relying on medications. <br> <br>
        Dr. Cohen’s comprehensive approach includes personalized chiropractic adjustments, therapeutic exercises, and lifestyle guidance tailored to each patient’s unique needs. He addresses common issues such as neck and back pain, posture correction, and nerve-related conditions. Whether treating families, young professionals, or seniors, Dr. Cohen ensures every patient receives the care, attention, and support they deserve. His goal is to help you feel confident, informed, and inspired to take control of your health and achieve lasting wellness.
      </p>
      <a href="#contact-1388" class="cs-button-solid">Get Started</a>

    </div>
    <div class="cs-image-group">
      <picture class="cs-background">
        <!--Mobile Image-->

        <img
          loading="lazy"
          decoding="async"
          src="./assets/images/Actual/Headshot.jpg"
          alt="staff member smiling"
          width="630"
          height="680"
        />
      </picture>

    </div>
  </div>
</section>
</div>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-608">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Real Stories, Real Results</span>
          <h2 class="cs-title">What Dr. Cohen's Patients Are Saying</h2>
          <p class="cs-text">
            Dr. Matthew Cohen takes pride in delivering personalized care that truly makes a difference. His patients share their experiences of pain relief, improved mobility, and enhanced wellness thanks to his holistic approach. Whether it’s a family seeking better health or a young professional overcoming chronic discomfort, their testimonials reflect our dedication to helping everyone achieve their wellness goals. Explore what his patients have to say and see how Dr. Cohen can help you on your journey to better health.
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" src="./assets/images/quote.png" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3">He will take the time to explain everything to you</h3>
              <p class="cs-item-text">
                Everyone at Madison Heights Chiropractic is wonderful! I have never seen Dr. Kash but Dr. Cohen is excellent! He will take the time to explain everything to you and help you understand your treatment and what you can do at home to help. The staff is always very friendly and helpful. Sometimes you can find a great doctor but have trouble with the staff but that is far from true at Madison Heights Chiropractic! Everyone I have dealt with has been extremely friendly and always goes the extra step to help.
              </p>
              <span class="cs-name">Meghan B.</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="./assets/images/quote.png"  alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3">I would recommend them to anyone and everyone</h3>
              <p class="cs-item-text">
                My family and I get the best care from Madison Heights Chiropractic.  I’ve been seeing Dr. Cohen for many years and get the best level of care I could ever expect.  He has helped me get threw some of my most painful moments in life.  I would recommend them to anyone and everyone you won’t get better care anywhere else!!
              </p>
              <span class="cs-name">William Palczewski</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="./assets/images/quote.png" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3">I always feel 100% better every time I walk out of his office</h3>
              <p class="cs-item-text">
                Dr. Cohen is my go to.  Every time I have an issue with my back I call Dr. Cohen and every single time he is able to fit me in.  He answers all my questions and makes sure I understand the process every step of the way.  I always feel 100% better every time I walk out of his office after my adjustment and we develop a plan to make sure I get continuing care.  Highly recommended.
              </p>
              <span class="cs-name">Victor Pliskin</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" src="./assets/images/quote.png"  alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
              <h3 class="cs-h3">I felt like I was 20 years old again</h3>
              <p class="cs-item-text">
                I have been seeing Dr. Cohen for about six years now. The very first time I went in, I could barely walk. Dr. Cohen did a complete physical on me and took x-rays and found out what I needed. He treated me three times each week for the first few weeks. After the second week, I felt like I was 20 years old again. I hav been going every two weeks since then.
              </p>
              <span class="cs-name">Wayne R.</span>
          </li>
      </ul>
  </div>
</section>


<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Ready to Take the First Step?</h2>
      <p class="cs-text">
        Experience the benefits of chiropractic care and holistic wellness solutions. Schedule your appointment today and start your journey toward better health.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg"
              alt="phone icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Phone</span>
            <a
              href="tel:248-542-3653
                        "
              class="cs-link"
              >(248) 542-3653
            </a>
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg"
              alt="address icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Email</span>
            <a href="mailto:drmatthewcohen@yahoo.com" class="cs-link"
              >drmatthewcohen@yahoo.com</a
            >
          </div>
        </li>
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg"
              alt="address icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Address</span>
            <a href="https://maps.app.goo.gl/4CiBds3oAjm5kgLZ6" class="cs-link">Madison Heights Chiropractic Center <br>
              28107 John R  <br>
              Madison Heights, MI</a>
          </div>
        </li>
      </ul>
    </div>
    <!--Form-->
    <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
      <h3 class="cs-h3">Make Appointment</h3>
      <label class="cs-label">
        Name
        <input
          class="cs-input"
          required
          type="text"
          id="name-1388"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="cs-label cs-email">
        Email
        <input
          class="cs-input"
          required
          type="email"
          id="email-1388"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="cs-label cs-phone">
        Phone
        <input
          class="cs-input"
          required
          type="number"
          id="phone-1388"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="cs-label">
        Message
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1388"
          placeholder="Write message..."
        ></textarea>
      </label>
      <button class="cs-button-solid cs-submit" type="submit">
        Send Message
      </button>
    </form>
  </div>
</section>

{% endblock %}
